*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.parent_container{
    height: 375px;
    width: 210px;
    border-radius: 20px;
    background-color: rgb(48, 46, 46);
    padding: 5px;
}
.container{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    padding: 5px;
    gap: 5px;
}

.item{
    border: 1px solid black;
    background-color: white;
    color: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.item-0{
    border: 1px solid black;
    background-color: rgb(57, 61, 64);
    border-radius: 30px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    /* padding:5px; */
    color: white;
    font-size: xx-large;
    font-weight: 550;
}
.item-1{
    border: 1px solid black;
    background-color: rgb(171, 166, 166);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.item-1:hover{
    background-color: rgb(170, 177, 184);
}

.item-3{
    border: 1px solid black;
    background-color: rgb(210, 137, 1);
    color: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
}
.item-3:hover{
    background-color: rgb(200, 149, 66);
}

.item-2{
    border: 1px solid black;
    color: aliceblue;
    /* font-weight: bolder; */
    background-color: rgb(96, 93, 93);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.item-2:hover{
    background-color: rgb(224, 213, 213);
}

.item-4{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    color: aliceblue;
    background-color: rgb(96, 93, 93);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.item-4:hover{
    background-color: rgb(224, 213, 213);
}