*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 30vw;
    width: 20vw;
    border-radius: 5px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    padding: 5px;
    gap: 2px;
}

.item-0{
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 20px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    padding:15px;
    

    /* grid-row: auto; */
}
.item-1{
    border: 1px solid black;
    background-color: rgb(225, 230, 235);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.item-2{
    border: 1px solid black;
    background-color: rgb(225, 230, 235);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-3{
    border: 1px solid black;
    background-color: rgb(225, 230, 235);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-4{
    border: 1px solid black;
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-5{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-6{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-7{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-8{
    border: 1px solid black;
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-9{
    /* border: 1px solid black; */
    /* border-radius: 2pc; */
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item-10{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-11{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-12{
    border: 1px solid black;
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-13{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-14{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-15{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-16{
    border: 1px solid black;
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-17{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-18{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-19{
    border: 1px solid black;
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: ; */
}
.item{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-4:hover{
    background-color: rgb(123, 114, 114);
}



