*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.parent_container{
    height: 385px;
    width: 220px;
    border-radius: 20px;
    background-color: rgb(48, 46, 46);
    padding: 10px;
}
.container{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    padding: 5px;
    gap: 2px;
}

.item{
    border: 1px solid black;
    /* background-color: rgb(45, 185, 47); */
    background-color: white;
    color: red;
    border-radius: 20px;
    /* display: grid;
    grid-column-start: 1;
    grid-column-end: 5; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.item-0{
    border: 1px solid black;
    background-color: rgb(24, 86, 137);
    border-radius: 30px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: end;
    align-items: center;
    padding:15px;
    color: white;
}
.item-1{
    border: 1px solid black;
    background-color: rgb(225, 230, 235);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-1:hover{
    background-color: rgb(170, 177, 184);
}

.item-3{
    border: 1px solid black;
    background-color: orange;
    color: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-3:hover{
    background-color: rgb(200, 149, 66);
}

.item-2{
    border: 1px solid black;
    color: aliceblue;
    background-color: grey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-2:hover{
    background-color: rgb(224, 213, 213);
}

.item-4{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    color: aliceblue;
    background-color: grey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-4:hover{
    background-color: rgb(224, 213, 213);
}